* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
}

h1,
h2 {
  font-family: "Young Serif";
  font-weight: 500;
  padding-bottom: 20px;
}

h4,
p,
li,
td {
  font-family: "Outfit";
}

hr {
  margin: 30px 0px;
}

.rose {
  color: hsl(332, 51%, 32%);
}

.brown {
  color: hsl(14, 45%, 36%);
}

ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

ul li::marker {
  color: hsl(14, 45%, 36%);
}

div ul li::marker {
  color: hsl(332, 51%, 32%);
}

.main_header {
  font-size: 2.5rem;
}

.main_section {
  width: 750px;
  margin: auto;
  margin-top: 60px;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

#img_omlette {
  width: 670px;
  margin-bottom: 25px;
  border-radius: 15px;
}

.main_div {
  background-color: hsl(330, 100%, 98%);
  width: 670px;
  height: 160px;
  margin: 25px 0px;
  border-radius: 15px;
  padding: 25px 32px;
}

.li--prep {
  margin-left: 22px;
  padding: 8px 0px 0px 8px;
}

.li--ing,
.li--ins {
  margin-left: 25px;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 630px;
}

td {
  padding: 18px 0px;
  border-bottom: 1px solid #7c7b7b;
  width: 600px;
}

.td_first {
  padding-left: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 25px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width:480px){
    p, li, td, h4{
        font-size: 2rem;
    }
    h2{
        font-size: 4rem;
    }
    .main_header{
        font-size: 4rem;
    }
    .main_div{
        height: 350px;
        padding-left: 50px;
    }
    .li--prep{
        margin-left: 50px;
        padding: 20px 65px 5px 20px;
    }
    .li--ins{
        margin-left: 35px;
        padding-right: 75px;
    }
    .resp_p{
        padding-right: 40px;
    }
    .main_section{
        margin: 0;
        border-radius: 0;
        padding-right: 80px;
    }
    #img_omlette{
        border-radius: 0;
        
    }
    .td_first{
        padding-left: 60px;
        padding-top: 25px;
    }
}